.budget-manager {
  display: flex;   padding: 20px;

}

.budget-description {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1.5em; 
  padding: 0 20px; }


.budget-title {
    text-align: center;     font-size: 2em;     margin-bottom: 0.5em; }

.budget-description {
    text-align: center;     font-size: 1.2em;     margin-bottom: 1.5em; }


.income-section, .spend-section {
  flex: 1;   margin-right: 20px;   border: 2px solid var(--button-bg-color);   border-radius: 8px;   padding: 15px;   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);   background-color: #f9f9f9; }

.spend-section {
  margin-right: 0; }


.spend-section select {
  font-family: var(--font-family);
  width: 100%;   padding: 10px;   border: 1px solid #ccc;   border-radius: 4px;   font-size: 16px;   background-color: #f9f9f9;   cursor: pointer; }

.spend-section select:hover,
.spend-section select:focus {
  border-color: #007bff;   background-color: #fff; }


.table-container {
  border: 1px solid #ccc;
  padding: 10px;
  width: 30%; }

table {
  width: 100%;
  border-collapse: collapse;    border: 2px solid var(--button-bg-color);   border-radius: 8px;  }

table td {
  border: 1px solid black;   padding: 8px; }


h1, h2, h3, h4 {
  color: #333; }

button {
  background-color: #007bff;   color: white;   border: none;
  border-radius: 5px;   padding: 10px 15px;   cursor: pointer;
}

button:hover {
  background-color: #0056b3; }

h1, h3, h4 {
  text-align: center; }

.progress-section {
  display: flex;
  justify-content: space-around;   align-items: center;   margin-bottom: 30px;
}

.progress-container {
  width: 150px;   margin: 20px auto;
  text-align: center;
}

.tables-section {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}



.budget-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.budget-table th, .budget-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.budget-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}


.minecraft {
  --progress-color: #4caf50;
}

.barbie {
  --progress-color: #FF69B4;
}

.halloween {
  --progress-color: #ff7518;
}
