.dashboard {
  padding: 20px;
  padding-top: 70px;
  text-align: center;
}

.theme-toggle-container {
  margin: 20px auto;
  display: inline-block;
}

header {
  margin-bottom: 20px;
}

.overview {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.balance, .recent-transactions {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.balance {
  width: 45%;
  font-size: 36px;
  text-align: center;
}

.recent-transactions {
  width: 45%;
  overflow-x: auto;
}

.recent-transactions table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.recent-transactions th, .recent-transactions td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.recent-transactions th {
  background-color: var(--button-bg-color); 
  color: white;
}

.recent-transactions tr:nth-child(even) {
  background-color: #f9f9f9;
}

.recent-transactions tr:hover {
  background-color: #f1f1f1;
}

.theme-select {
  font-family: var(--font-family);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: background-color 0.3s, color 0.3s;
}

.theme-select option {
  background-color: var(--background-color);
  color: var(--text-color);
}

@media (max-width: 768px) {
  .recent-transactions {
    width: 100%;
  }
}
