.goals {
  padding: 70px;
  background-color: #f5f5dc;
}

.goal-list {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.goal-list ul {
  list-style-type: none;
  padding: 0;
}

.goal-list li {
  margin-bottom: 10px;
}

.add-savings {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.add-savings select, .add-savings input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: calc(100% - 22px);
}
