.navbar {
  background-image: url('../images/navbar-background.webp');
  background-size: 50%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.logout-button {
  font-family: var(--font-family);
  border: 2px solid black;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  font-size: 18px;
}

ul.active .logout-button {
  width: 100px;
  padding: 5px 10px;
  font-size: 16px;
}


.navbar.minecraft {
  background-image: url('../images/navbar-background.webp');
}

.navbar.barbie {
  background-image: url('../images/barbie-background.jpg');
}

.navbar.halloween {
  background-image: url('../images/halloween-background.webp');
}

.navbar.christmas {
  background-image: url('../images/christmas-background.jpg');
}

.logo {
  font-size: 40px;
  color: black;
  font-weight: bold;
}

.hamburger {
  display: none;
  font-size: 28px;
  color: black;
  cursor: pointer;
}


ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
}

li {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
  transition: background 0.3s;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}


@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 75%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    z-index: 1000;
  }

  ul.active {
    display: flex;
  }

  li {
    margin: 5px 0;
    text-align: center;
    width: 100%;
  }

  a {
    color: #333;
    font-size: 18px;
    padding: 12px 20px;
    transition: background 0.3s, color 0.3s;
  }

  a:hover {
    background-color: rgba(0, 123, 255, 0.1);
    color: #007bff;
  }
}